{% extends 'base.html.twig' %}

{% block title %}EventProfileFeilds{% endblock %}

{% block body %}
    <h1>EventProfileFeilds</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event_profile_feild.id }}</td>
            </tr>
            <tr>
                <th>LabelFr</th>
                <td>{{ event_profile_feild.labelFr }}</td>
            </tr>
            <tr>
                <th>LabelEN</th>
                <td>{{ event_profile_feild.labelEN }}</td>
            </tr>
            <tr>
                <th>Required</th>
                <td>{{ event_profile_feild.required }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_profile_feilds_index') }}">back to list</a>

    <a href="{{ path('event_profile_feilds_edit', {'id': event_profile_feild.id}) }}">edit</a>

    {{ include('event_profile_feilds/_delete_form.html.twig') }}
{% endblock %}
