{% extends app.user.roles[0] =='ROLE_CLIENT'
    ? 'base-client.html.twig' 
    : 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('/assets/css/pages/wizard/wizard-1.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %} 



<div class="modal fade" id="modal-logo-2" tabindex="-1" aria-labelledby="modalLabel"
                                        style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel">{% trans into app.session.get('lng')
                                                        %}Recadrer l'image{% endtrans %}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="img-container">
                                                        <img id="image-logo-2"
                                                            src="{{ asset('/assets/img/logo-Placeholder.png') }}">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{%
                                                        trans into app.session.get('lng') %}Annuler{% endtrans %}</button>
                                                    <button type="button" class="btn btn-primary" id="crop-logo-btn-2">Crop</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



<!--begin::Content-->
<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">

                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5"> {% trans into app.session.get('lng')
                        %}Organisateurs{%
                        endtrans %} </h5>
                    <!--end::Page Title-->

                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="/" class="text-muted">{% trans into
                                app.session.get('lng') %}Accueil{% endtrans %}</a>
                        </li> 
                        <li class="breadcrumb-item">
                            <a href="{{ path('events_details',{id:event_room.event.id}) }}" class="text-muted">
                            {{event_room.event.name}}</a>
                        </li> 
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">{% trans into app.session.get('lng') %}Creation d'une salle des conférence{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->

            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <div class="card card-custom">
                <form class="form" id="add_event_room_form" method="post" enctype="multipart/form-data">
                    
                    
                    <div class="card-header d-flex justify-content-between">
                        <h3 class="card-title mb-1">
                            
                        {% trans into app.session.get('lng')
                        %}Creation d'une salle des conférence{%
                        endtrans %}

                        </h3>

                        <a href="{{ path('events_details',{id:event_room.event.id}) }}" class="btn back-btn btn-light-primary font-weight-bold">{% trans into app.session.get('lng') %}Retour{% endtrans %}</a>
                         
                    </div>

                    <div class="card-body">
                        
                         
                         <img src="/assets/img/mini.png" id="event_room_image" class="rounded w-100 mb-3 c-pointer" />
                        {{ include('event_rooms/_form.html.twig') }}


                    </div>

                    <div class="card-footer">
                        
                        <button type="button" class="btn btn-primary font-weight-bold mr-2" name="submitButton" id="pre-validation">{% trans
                            into app.session.get('lng') %}Ajouter{% endtrans %}</button>
                        

                    </div>


                </form>





                <!--end::Wizard-->
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
{% endblock %}


{% block javascripts %}
{{ parent() }}

<script src="{{ asset('/assets/js/events/add-room.js') }}"></script>
{% endblock %}