{% extends app.user.roles[0] =='ROLE_CLIENT'
    ? 'base-client.html.twig' 
    : 'base.html.twig' %}

{% block title %}
	 {{ bt_b_meeting_room.theme }}
{% endblock %}

{% block body %}
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-6  subheader-solid " id="kt_subheader">
		<div
			class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div
				class="d-flex align-items-center flex-wrap mr-1">

				<!--begin::Page Heading-->
				<div
					class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">
						{% trans into app.session.get('lng') %}Configuration{% endtrans %}
					</h5>
					<!--end::Page Title-->

					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
						<li class="breadcrumb-item">
							<a href="{{ path('index_route') }}" class="text-muted">{% trans into
                                app.session.get('lng') %}Accueil{% endtrans %}</a>
						</li> 
						<li class="breadcrumb-item">
							<a href="{{ path('events_details',{id:bt_b_meeting_room.event.id}) }}" class="text-muted">
                                {{ bt_b_meeting_room.event.name }} 
							</a>
						</li>
                        <li class="breadcrumb-item">
							<a href="#" class="text-muted">
                                {{ bt_b_meeting_room.theme }} 
							</a>
						</li>
                        
                        
                        
                        
					</ul>
					<!--end::Breadcrumb-->

				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
		</div>
	</div>
	<!--end::Subheader-->


	<div
		class="card card-custom card-stretch gutter-b">
		<!--begin::Header-->
		<div class="card-header border-0 py-5">
			<h3 class="card-title align-items-start flex-column">
				<span class="card-label font-weight-bolder text-dark">{% trans into app.session.get('lng') %}Séance{% endtrans %}</span>
				 
			</h3>
			<div class="card-toolbar"> 

                 
			</div>
		</div>
		<!--end::Header-->

		<!--begin::Body-->
		<div class="card-body py-0">
           

           <div class="alert alert-warning">
            {% if  bt_b_meeting_room.access == 0 %}
            {% if app.session.get('lng') =='en_EN' %}
                Everyone can meet everyone
            {% else %}
                Tout le monde peut rencontrer tout le monde
            {% endif %}
        {% else %}
             {% if app.session.get('lng') =='en_EN' %}
                Limited by profile matching
            {% else %}
                Limité par la correspondance des profils
            {% endif %}
        {% endif %}
           </div>


           <hr>



           {% if bt_b_meeting_room.access == 1 %}
           
           <form  method="post">
 
                <div class="form-group mb-3">

                    <div class="accordion  accordion-toggle-arrow" id="accordionExample7">
                        


                        {% for item in bt_b_meeting_room.event.eventProfiles %}
                        
                   

                            <div class="card">
                                <div class="card-header" id="headingOne7">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne-{{item.id}}">
                                        <div class="card-label pl-4">{{item}}</div>
                                    </div>
                                </div>
                                <div id="collapseOne-{{item.id}}" class="collapse" data-parent="#accordionExample7">
                                    <div class="card-body pl-12">
                                        <p><input type="checkbox" class="mr-3 parent-checkbox" target="checkbox-childs-{{item.id}}"> {% trans into app.session.get('lng') %}Tout sélectionner{% endtrans %}</p>
                                        <ul>
                                            {% for p in item.participants %}
                                                <input 
                                                {% for a in access %}
                                                    {% if a.participant.id == p.id %} checked="checked" {% endif %}
                                                    
                                                {% endfor %}

                                                type="checkbox"  
                                                name="participants[]" 
                                                value="{{ p.id }}" 
                                                class="mr-3 checkbox-childs-{{item.id}} "> {{ p.user.firstname }} {{ p.user.lastname }}  

<br>
                                                <small class="text-muted">
                                                {% for a in access %}
                                                    {% if a.participant.id == p.id %} 

                                                    {% trans into app.session.get('lng') %}Nombre maximum des demandes envoyées{% endtrans %} : <span id="invitations-{{ a.id }}">{{ a.invitations }}</span> 
                                                    
                                                    

                                                    <span target="target-edit-{{a.id}}" class="open-edit svg-icon svg-icon-success svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo13\dist/../src/media/svg/icons\Design\Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"/>
                                                                <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                                                                <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                                                            </g>
                                                        </svg>
                                                    </span>


                                                    <section style="display: none;" class="target-edit-{{a.id}}">
                                                        <input type="number" class="edit-invitation" value="{{ a.invitations }}" target="invitations-{{ a.id }}" access-id="{{a.id}}" id="access-{{a.id}}">   
                                                    

                                                        <span target="target-edit-{{a.id}}" class="svg-icon close-edit svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo13\dist/../src/media/svg/icons\Navigation\Check.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                                                    <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "/>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </section>


                                                    {% endif %}
                                                    
                                                    
                                                {% endfor %}
                                                </small>




                                                <br>



                                                <small class="text-muted">
                                                {% for a in access %}
                                                    {% if a.participant.id == p.id %} 

                                                    {% trans into app.session.get('lng') %}Nombre maximum des rendez-vous confirmés{% endtrans %} : <span id="confirmedMeetings-{{ a.id }}">{{ a.confirmedMeetings }}</span> 
                                                    
                                                    

                                                    <span target="confirmedMeetings-edit-{{a.id}}" class="open-edit svg-icon svg-icon-success svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo13\dist/../src/media/svg/icons\Design\Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"/>
                                                                <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                                                                <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                                                            </g>
                                                        </svg>
                                                    </span>


                                                    <section style="display: none;" class="confirmedMeetings-edit-{{a.id}}">
                                                        <input type="number" class="edit-confirmedInvitations" value="{{ a.confirmedMeetings }}" target="confirmedMeetings-{{ a.id }}" access-id="{{a.id}}"  >   
                                                    

                                                        <span target="confirmedMeetings-edit-{{a.id}}" class="svg-icon close-edit svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo13\dist/../src/media/svg/icons\Navigation\Check.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                                                    <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) "/>
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </section>


                                                    {% endif %}
                                                    
                                                    
                                                {% endfor %}
                                                </small>



                                                <hr />
 

                                                
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>



                    {% endfor %}
                        
                         
                    </div>


                    
                </div>


               <div class="form-group">
                <button class="btn btn-primary mb-5" type="submit">{% trans into app.session.get('lng') %}Enregistrer{% endtrans %}</button>
               </div>



           </form>
           
           {% endif %}
           
                    
		</div>
		<!--end::Body-->
	</div>


	
{% endblock %}


{% block javascripts %}
    {{ parent() }}


    <script>
        $(document).ready(function(){
            $(".parent-checkbox").on('change',function(e){
                const checked = e.target.checked ;
                const target = $(this).attr('target'); 

                $("."+target+"").prop( "checked", true );
            })

 
            $(".close-edit").click(function(){
                const target = $(this).attr('target');

                $("."+target+"").fadeOut();
            })
 


            $(".open-edit").click(function(){
                
                const target = $(this).attr('target');

                console.log(target)

                $("."+target+"").fadeIn();
            })


            function updateInvitations(newInviationsNumber,accessID){
                $.ajax({
                    url: "/common/b2b-meeting-rooms/invitation-update",
                    data : {
                        accessID : accessID,
                        newInviationsNumber : newInviationsNumber 
                    },
                    method:'post'
                }).done(function(data) {
                    console.log(data);
                })


            }

            function updateconfirmedMeeting(confirmedMeeting,accessID){
                $.ajax({
                    url: "/common/b2b-meeting-rooms/confirmed-meeting-update",
                    data : {
                        accessID : accessID,
                        confirmedMeeting : confirmedMeeting 
                    },
                    method:'post'
                }).done(function(data) {
                    console.log(data);
                })


            }


            


            $(".edit-invitation").on('keyup',function(){
                const target = $(this).attr('target');
                const val = $(this).val();
                const id = $(this).attr('access-id');
                

                console.log(val);

                if (isNaN(val) == false) {
                    $("#"+target+"").html(val);

                    updateInvitations(Number(val),id)
                }
            })
            $(".edit-invitation").on('change',function(){
                const target = $(this).attr('target');
                const val = $(this).val();
                const id = $(this).attr('access-id');
                

                console.log(val);

                if (isNaN(val) == false) {
                    $("#"+target+"").html(val);

                    updateInvitations(Number(val),id)
                }
            })





            
            $(".edit-confirmedInvitations").on('keyup',function(){
                const target = $(this).attr('target');
                const val = $(this).val();
                const id = $(this).attr('access-id');
                

                console.log(val);

                if (isNaN(val) == false) {
                    $("#"+target+"").html(val);

                    updateconfirmedMeeting(Number(val),id)
                }
            })
            $(".edit-confirmedInvitations").on('change',function(){
                const target = $(this).attr('target');
                const val = $(this).val();
                const id = $(this).attr('access-id');
                

                console.log(val);

                if (isNaN(val) == false) {
                    $("#"+target+"").html(val);

                    updateconfirmedMeeting(Number(val),id)
                }
            })

            
        })
    
    </script>
{% endblock %}