{% extends 'base.html.twig' %}

{% block title %}NotesCategories{% endblock %}

{% block body %}
    <h1>NotesCategories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notes_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ notes_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('notes_categories_index') }}">back to list</a>

    <a href="{{ path('notes_categories_edit', {'id': notes_category.id}) }}">edit</a>

    {{ include('notes_categories/_delete_form.html.twig') }}
{% endblock %}
